<div id="question-edit-form" class="edit-form well collapse">
  <%= render "form", remote: true %>
  
  <button id="question-edit-cancel-button" class="btn btn-info btn-wide">Cancel</button>
  <%= link_to "Delete", question_path(@question), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-wide", id: "delete-button", remote: true %>
</div>