<%= render @question %>

<% if current_user != @question.user %>
  <p><%= link_to 'Submit Answer', new_question_answer_path(@question), class: "btn btn-primary" %></p>
<% end %>

<%= render @question.answers %>