<div class="comments">
  <%= render commentable.comments %>

  <%= link_to "Add comment", new_comment_path(comment: { commentable_type: commentable.class.name, commentable_id: commentable.id }), class: "btn btn-warning btn-xs new-comment-button", data: { id: commentable.id } %>
  
  <div class="new-comment-form collapse" data-id="<%= commentable.id %>">
    <%= render 'comments/form', commentable: commentable, remote: true %>
  </div>
</div>