<div class="btn-group btn-group-sm" role="group" aria-label="...">
  <% score_selected = params[sort] == 'lowest' || params[sort] == 'highest' || params[sort].nil? %>
  <% params_temp = @params.merge(sort => params[sort] == 'lowest' ? 'highest' : 'lowest') %>
  <%= link_to path_method.call(params_temp), remote: true, class: "sort btn btn-default #{'active' if score_selected}" do %>
      Score 
      <% if score_selected %>
        <span class="glyphicon glyphicon-sort-by-attributes<%= '-alt' if params[sort] == 'highest' || params[sort].nil? %>" aria-hidden="true"></span>
      <% end %>
  <% end %>

  <% time_selected = params[sort] == 'oldest' || params[sort] == 'newest' %>
  <% params_temp = @params.merge(sort => params[sort] == 'oldest' ? 'newest' : 'oldest') %>
  <%= link_to path_method.call(params_temp), remote: true, class: "sort btn btn-default #{'active' if time_selected}" do %>
      Time 
      <% if time_selected %>
        <span class="glyphicon glyphicon-sort-by-attributes<%= '-alt' if params[sort] == 'oldest' %>" aria-hidden="true"></span>
      <% end %>
  <% end %>
</div>