@mixin question-answer-panel {
	@extend .panel;
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 0px;

	.panel-body {
		padding: 5px;
	}

	.tag-list {
		float: left;
		padding: 5px;
	}

	.timestamp {
		float: right;
		padding: 5px;
	}
}