.question {
	@include question-answer-panel;

	.question-title {
		background-color: $brand-primary;
		padding: 10px 20px;
		color: #fff;
		font-size: x-large;
	}
}

.tags {
	margin-top: 8px;
	//padding: 0px;
}