<footer class="footer col-xs-12">
  <small>
    The <a href="/">Social Shopping</a>
    app by <a href="http://www.artemshvadskiy.com/">Artem Shvadskiy</a>
  </small>
  <nav>
    <%= link_to "About", '#' %>
    <%= link_to "Contact", '#' %>
  </nav>
</footer>